{{- define "pages/index" -}}
  {{- template "layouts/default/head" . -}}
  {{- template "layouts/default/coverage-bar" . -}}
  {{- template "layouts/default/sidebar" . -}}
  {{- template "layouts/default/content" . -}}

  INDEX

  {{- template "layouts/default/foot" . -}}
{{- end -}}
