{{- define "components/layout/coverage-bar" -}}
  <link href="/css/coverage-bar.css" rel="stylesheet" />

  <aside class="coverage-bar">
    <div class="covered"></div>
    <div class="uncovered"></div>
  </aside>

  <script src="/js/coverage-bar.js"></script>
{{- end -}}
