{{- define "components/layout/footer" -}}
  <link href="/css/footer.css" rel="stylesheet" />

  <footer>
    <pre class="footer__output"></pre>
  </footer>

  <script src="/js/footer.js"></script>
{{- end -}}
