{{- define "components/layout/sidebar" -}}
  <link href="/css/sidebar.css" rel="stylesheet" />

  <aside class="sidebar">
    <div class="sidebar__header">
      <button class="btn__run-tests" title="Run all tests"></button>

      <div class="coverage"></div>
    </div>

    <div class="sidebar__tests"></div>
  </aside>

  <script src="/js/sidebar.js"></script>
{{- end -}}
