{{- define "components/layout/sidebar" -}}
  <link href="/css/sidebar.css" rel="stylesheet" />

  <aside class="sidebar">
    <div class="sidebar__header">
    SIDEBAR HEADER
    </div>

    <div class="sidebar__tests">
      SIDEBAR TESTS
    </div>
  </aside>

  <script src="/js/sidebar.js"></script>
{{- end -}}
