.coverage-bar {
  display: flex;
  grid-area: coverage-bar;
}

.coverage-bar > .covered {
  background-color: var(--color-coverage-bar-covered);
  transition: width 0.5s;
  width: 0%;
}

.coverage-bar > .uncovered {
  background-color: var(--color-coverage-bar-uncovered);
  flex: 1;
}
