footer {
  background-color: var(--color-footer-background);
  border-top: 0.5rem solid var(--color-footer-border);
  grid-area: footer;
  padding: 1rem;
}

@media (width < 64rem) {
  footer {
    display: none;
  }
}
