.sidebar {
  background-color: #030712;
  grid-area: sidebar;
  overflow: auto;
  padding: 1rem;
  scrollbar-gutter: stable;
}

.sidebar__header {
  border-block-end: 1px solid #364153;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-block-end: 1rem;
  padding-block-end: 1rem;
}

.btn__run-tests {
  background-color: transparent;
  border: 2px solid #99a1af;
  border-radius: 50%;
  cursor: pointer;
  padding: 1.25rem;
  position: relative;
  transition:
    border-color 0.2s,
    color 0.2s;
}

.btn__run-tests::after {
  color: #99a1af;
  content: "▶";
  font-size: 1.5rem;
  inset: 50% 0 0 50%;
  line-height: 1;
  position: absolute;
  transform: translate(-50%, -50%);
}

.btn__run-tests:hover,
.btn__run-tests:focus-visible {
  border-color: #d1d5dc;
}

.btn__run-tests:hover::after,
.btn__run-tests:focus-visible::after {
  color: #d1d5dc;
}

.sidebar__tests--file {
  padding-block-end: 0.5rem;
}

.sidebar__tests--file-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.sidebar__tests--file-title {
  cursor: pointer;
  direction: rtl;
  list-style: none;
  max-width: 100%;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
}

[dir="rtl"] .sidebar__tests--file-title {
  direction: ltr;
  text-align: right;
}

.sidebar__tests--tests {
  padding-block-end: 0.25rem;
  padding-inline-start: 1.25rem;
}

.sidebar__tests--tests:empty::after {
  color: #5c6e87;
  content: "No tests found";
  font-style: italic;
}

.sidebar__tests--test {
  color: #cad5e2;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  list-style: none;
}

.sidebar__tests--file-coverage,
.sidebar__tests--test-coverage {
  color: #cad5e2;
  width: 3.8rem;
  text-align: end;
}
